datago_venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.idea/
.vscode/
datago_mobile/.dart_tool/
datago_mobile/.flutter-plugins
datago_mobile/.flutter-plugins-dependencies
datago_mobile/.packages
datago_mobile/build/
datago/db.sqlite3
datago/media/
